@using Entites.Concrete
@model List<About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Veri Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Hakkımda başlığı</th>
        <th>Durum</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutId</td>
            <td>Hakkımda başlığı</td>

            <td>
                <a href="/About/Delete/@item.AboutId">

                    @if (item.Status == true)
                    {
                        <span class="btn btn-danger btn-sm">
                            <i class="fas fa-trash">
                            </i> Pasif Yap
                        </span>
                    }
                    else
                    {
                        <span class="btn btn-success btn-sm">
                            <i class="fas fa-check-square">
                            </i> Aktif Yap
                        </span>
                    }
                </a>
            </td>
            
        </tr>
    }
</table>

@Html.Action("AboutPartial","About")