
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Hakkımızda Girişi
</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hakkımızda Metin Girişi</h5>
            </div>
            <form method="post" action="#">
                <div class="modal-body">
                    <label>Hakkımda Metin 1</label>
                    <input type="text" name="#" class="form-control" />
                    <br />
                    <label>Hakkımda Metin 2</label>
                    <input type="text" name="#" class="form-control" />
                    <br />
                    <label>Hakkımda görsel 2</label>
                    <input type="text" name="#" class="form-control" />
                    <br />
                    <label>Hakkımda görsel 2</label>
                    <input type="text" name="#" class="form-control" />
                    <br />
                    <button style="margin-left:394px" class="btn btn-info">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>