
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 Profilim</p>
<p>#Tüm başlıklarda paging</p>
<p>#1 Mesajlarda session</p>
<p>#1 oturum yönetiminin mimariye taşınması</p>
<p>#1 token kullanımı</p>

