
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<div>
    <table class="table table-hover">
        <tr>
            <th> Kategorti Id</th>
            <th> Kategorti Adı</th>
            <th> Açıklama</th>
            <th> Durum</th>
            <th> Güncelle</th>
        </tr>
        <tr>
            <td> 1</td>
            <td> eğitim</td>
            <td> Açıklama</td>
            <td> true</td>
            <td><button class="btn btn-danger">Güncelle</button></td>
        </tr>
        <tr>
            <td> 1</td>
            <td> eğitim</td>
            <td> Açıklama</td>
            <td> true</td>
            <td><button class="btn btn-danger">Güncelle</button></td>
        </tr>
        <tr>
            <td> 1</td>
            <td> eğitim</td>
            <td> Açıklama</td>
            <td> true</td>
            <td><button class="btn btn-danger">Güncelle</button></td>
        </tr>
        <tr>
            <td> 1</td>
            <td> eğitim</td>
            <td> Açıklama</td>
            <td> true</td>
            <td><button class="btn btn-danger">Güncelle</button></td>
        </tr>
    </table>
    <button class="btn btn-success">Yeni kategori</button>
    <button class="btn btn-primary">Kategori Listesi</button>
    <button class="btn btn-danger">Kategori Açıklamaları</button>
</div>
